<h1>Longest word game</h1>
<% @letters.each do |letter|%>
  <h1><%= letter %></h1>
  <%end%>


<form action="letter">
  <input type="text">
  <input type="submit" value="What is the longest word you can find?">
</form>
